<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flowerbrowse.unlimited.search.websites.photos">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.flowerbrowse.unlimited.search.websites.photos.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.BrowseSeaching"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.LaunchPage"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.HomePage"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.browse.BrowseHomePage"
            android:screenOrientation="portrait"/>
        <activity android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.browse.AllLabelPage"
            android:screenOrientation="portrait"/>
        <activity android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.browse.HistoryPage"
            android:screenOrientation="portrait"/>
        <activity android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.browse.BookmarkReadLaterPage"
            android:screenOrientation="portrait"/>
        <activity android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.SettingPage"
            android:screenOrientation="portrait"/>
        <activity android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.browse.SearchEnginesPage"
            android:screenOrientation="portrait"/>
        <activity android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.PolicyPage"
            android:screenOrientation="portrait"/>
        <activity android:name="com.flowerbrowse.unlimited.search.websites.photos.ui.browse.RecentPage"
            android:screenOrientation="portrait"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>